body{font-family: "Montserrat";}

a{color: inherit;}

#title {background-color: #F4F4F2;}

.container-fluid{
  padding: 3% 15.5% 6%;}

.navbar{padding-bottom: 3rem;}

.nav-item{
  padding: 0 15px;}

.nav-link{
  font-family: "Lora";
  color: #000;
}

.Slogon{font-size: 4rem;
  font-weight: bold;
  color: #000;
}

#approach{padding: 6% 12% 6% 11%;
  background-color: #E8E8E8;}

.approach-box{
  text-align: center;
  padding: 5%;
}


h4{
  color: #8f8f8f;
margin-bottom: 1.5rem;}

h4:hover{
  color: #000;
}

.click{
  font-weight: bold;
}

.click-1{font-weight: bold;
text-align: right;}

h6{
  padding-top: 4%;
}

.row2{text-align: justify;}

.icon{
  color:#8f8f8f;
  margin-bottom: 1.5rem;
}

.icon:hover{
  color:#000;
}

#service{padding: 6% 16% 3% 12%;
  background-color: #BBBFCA;}


.s{padding-top: 4%;}

#contact{padding: 6% 16% 6% 12%;
    background-color: #495464;
  color: #fff;}

  .Slogon2{font-size: 3rem;
    font-weight: bold;
    color: #fff;
    padding-left: 6%;
    text-align: left;
  }

  .email{
    text-align:right;
    padding-top: 20%;
  }


#footer{padding: 6% 16% 2% 12%;
    background-color: #F4F4F2;
    font-family: "Lora";}

.registration{padding-left: 6%;}

.company{text-align: right;}

.ending{text-align: center;
padding-top: 3%;}

.social-icon{padding: 15px 15px}
